body{
    background-color: blue;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
} 
.backgroundColor{
    background-color: white;
    padding: 40px;
    border-radius: 15px;
    display: flex;
    gap: 50px;
    /* justify-content: center;
    align-items: center; */
    height: 80vh;
    width: 150vh;
    
}

.left-side{
    flex: 1;
}

.right-side{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.keyboard button{
   padding: 10px;
   cursor: pointer;
   font-size: 15px;
   background-color: lightgray;
   border-radius: 3px;
   height: 40px;
   width: 40px;
}
.keyboard button:hover{
   padding: 10px;
   cursor: pointer;
   font-size: 15px;
   background-color: cyan;
   border-radius: 3px;
   height: 40px;
   width: 40px;
}

.word-display{
    font-size: 3em;
    margin-bottom: 1.1em;
}

.hint{
    font-size: 1.5em;
    margin-bottom: 2.5em;
}

.incorrectGuesses{
    font-size: 1.5em;
    margin-bottom: 3em;
}

